// Global Styles

html,
body{
	margin: 0;
}

h1, h2, h3, h4, h5, h6,
p,ul{
	margin-top: 0;
}

a {
  text-decoration-skip: ink;
  color: inherit;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

img{
	max-width: 100%;
}


// Mixins

@mixin hide-on-small {
  display: none;
	@media #{$medium_mq} {
		display: inherit;
	}
}

@mixin show-on-small {
	@media #{$medium_mq} {
		display: none;
	}
}

