// Variables

// Colors

$body-color: #545454;
$dark-color: #545454;

// Typography

$primary-font-stack: 'Source Sans Pro', sans-serif;
$secondary-font-stack: 'Titillium Web', sans-serif;


// Layout

$small_mq: "(max-width: 639px)";
$medium_mq: "(min-width: 640px)";
$large_mq: "(min-width: 1024px)";
$xlarge_mq: "(min-width: 1200px)";
$xxlarge_mq: "(min-width: 1440px)";
$xxxlarge_mq: "(min-width: 1600px)";

$small-sidebar-width: 10%;
$medium-sidebar-width: 25%;


